* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

body {
	margin: 0;
	display: block;
	line-height: 1.42857143;
	background-color: #222222;
}

main {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tally-marks {
  height: 8vh;
  pointer-events: none;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.card-title {  
  grid-area: 1 / 1 / 2 / 2;
}

.card-body {  
  grid-area: 2 / 1 / 3 / 2;
}

.card-footer {
  grid-area: 3 / 1 / 4 / 2;  
}

.card-center {
  position: fixed;

  top: 50%;
  left: 50%;

  width:22rem;
  margin-left: -11rem;
  
  height:24rem;
  margin-top: -12rem;
}

.count-shadow
{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.count-shadow:before, .count-shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.count-shadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.count-display {
  background-color: rgb(17 17 17 / 98%);
  color: #f2f2f2;
  border: 1px solid #111111c7;
  box-shadow: #000000;
  padding: 1em 1em;
  border-radius: 4px;
}

.count-header {
  /* font-size: 1rem; */
  text-align: justify;
}

.count-header > p {
  margin: 0;
  padding: 0;
}

.count-header > h1 {
  margin: 0;
  padding: 0;
  font-size: 1.7em
}

.count-body {
  text-align: center;
  color: #f2f2f2;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-body-hours {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.count-body-description {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

.count-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.count-action-button {
  width: 90%;
  height: 3rem;
  background: black;
  border-color: #252525;
  color: #f2f2f2;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.tally-group {
  transition: visibility 0s, opacity 0.5s linear;
}


@media (max-width: 970px) {
  .count-display {
    background-color: rgb(17 17 17 / 70%);
  }
}